body,
html {
    background-color: rgb(68, 67, 67);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: auto;
    font-size: 30px;
    overflow: hidden;
}

.title {
    text-align: center;
    font-size: 0.8rem;
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom: 75px;
}

.utilities {
    display: flex;
    justify-content: space-around;
}

.button {
    height: 45px;
    width: 150px;
    background: white;
    margin-bottom: 30px;
    font-size: 0.7rem;
    border: solid 3px;
    opacity: 0.6;
    border-radius: 34px;
    cursor: pointer;
}

.button:hover {
    opacity: 1;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30px);
    grid-template-rows: repeat(auto-fit, 30px);
    border: solid 10px;
    min-height: 600px;
    min-width: 1200px;
    background-color: white;
}

.slider-container {
    margin: 10px 0 120px 0;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    font-weight: bolder;
}

.size-slider {
    -webkit-appearance: none;
    flex-grow: 1;
    margin-left: 20px;
    height: 25px;
    background: rgb(240, 237, 237);
    opacity: 0.9;
    transition: all 0.1s;
    border: solid 4px;
}

.size-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: #000000;
    cursor: pointer;
}

.size-slider:hover {
    opacity: 1;
}

.switch {
    position: relative;
    width: 150px;
    height: 38px;
    border: solid 3px black;
    border-radius: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: '';
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #0b75d8;
}

input:checked + .slider:before {
    transform: translateX(110px);
}

.slider:after {
    content: 'Eraser';
    color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 0.7rem;
}

input:checked + .slider:after
{  
  color: white;
}